<script>
Ext.onReady(function() {

$("#city-management a").addClass("selected");
function hide_message() {
    Ext.defer(function() {
        Ext.MessageBox.hide();
    }, 2000);
}
Ext.apply(Ext.form.VTypes,{
    // function for validation
    ip: function(ipValue){
        // just a simple
        var ipRegex = /^(\d{1,3})(\.\d{1,3}){3}$/i;
        return ipRegex.test(ipValue);
    },
    // default error text
    ipText: "Not a valid IP, Correct Format is 12.23.2.1",
    // filter keys, can only type digit and dot
    ipMask: /[\d\.]/i,
    numrange: function(value,field){
		start=field.up('form').getForm().findField('minport');
		end=field.up('form').getForm().findField('maxport');
		if(start.getValue()==null || end.getValue()==null)
			return true;
		if(start.getValue()>end.getValue())
				return false;
		return true;
	    },
    numrangeText: "<%= t('begin num is great than end num') %>"
});

function action_handler(type) {
	var cityform =new Ext.create('Ext.form.Panel', {
		width: 300,
		frame: true,
  // 	title: '<%= t('cityname') %>',
 //   bodyPadding: '10 10 0',
		border: 0,
    	height: 500,
     	defaults: {
      	anchor: '100%',
       	msgTarget: 'side',
        	labelWidth: 60
        	},
   	items: [
		{xtype:"hidden",name: "id"},
        	{
            xtype: 'textfield',
            emptyText: '<%= t('please enter project id') %>',
            fieldLabel: '<%= t('project_id') %>',
            name: 'project_id',
				allowBlank: false,
				regex: /^(\d{10})$/,
				regexText: '<%= t('only ten number') %>'
		},
		{xtype:"textfield",fieldLabel: '<%= t('cityname') %>',name: "cityname",allowBlank: false},   
		{xtype:"textfield",fieldLabel: '<%= t('ip') %>',name: "ip", vtype: "ip", vtypeText:'<%= t('ip format error') %>'},
		{xtype:"fieldcontainer",fieldLabel:'<%= t('sshport range') %>',layout:'hbox',combineErrors:true,defaults:{flex:1,hideLabel:true},items:[{name:'minport',xtype:'numberfield',minValue:1,allowNegative:false,allowDecimals:false,flex:0.4,vtype:'numrange',endField:'endField',id:'startField'},{xtype:"displayfield",value:"<%= t('reach') %>",flex:0.06, margin:'0 4 0 4'},{name:'maxport',xtype:'numberfield',minValue:1,allowNegative:false,allowDecimals:false,flex:0.4,vtype:'numrange',startField:'startField',id:'endField'}]},
		{xtype:"textfield",fieldLabel: '<%= t('rootpasswd') %>',name: "rootpasswd"},
        	],
 		buttonAlign: 'center',
   	buttons: [
		{
			text: '<%= t('save') %>',
			handler: function(){
				var form = this.up('form').getForm();
					if(form.isValid()){
						switch (type) {
						case "add":  
							form.submit({
								url: 'add_cityinfo.json',
								waitMsg: '<%= t('waiting') %>',
								method: 'POST',
								success: function (form, action) {
									window.close();
									recordstore.reload();
									Ext.MessageBox.alert("<%= t('warn') %>","<%= t('add city success') %>");	 
									hide_message();	  
	                					},
								failure: function(response) {
									window.close();
									recordstore.reload();
									Ext.MessageBox.alert("<%= t('warn') %>","<%= t('city project_id repeat') %>");
									hide_message();	
								}  
	           					 });	  
							break;
						case "edit":
							form.submit({
								url: 'edit_cityinfo.json',
								waitMsg: '<%= t('waiting') %>',
								method: 'POST',
								success: function (form, action) {
									window.close();
									recordstore.reload();
									Ext.MessageBox.alert("<%= t('warn') %>","<%= t('edit city success') %>");	
									hide_message();	   
	                					},
								failure: function(response) {
									window.close();
									recordstore.reload();
									Ext.MessageBox.alert("<%= t('warn') %>","<%= t('city project_id repeat') %>");
									hide_message();			
								}  
	           					 });	  
							break;
					}
          			}
       			}
 		},{
            text: '<%= t('cancel') %>',
            handler: function() {
                window.close()
            			}
        	}]
	});

	var window = new Ext.Window({
		iconCls:"window",
		border: 0,
		width:280,
		height:240,
		resizable:false,
		layout:"fit",
		closeAction:'destroy',
		plain: true,
		constrainHeader:true,
		modal:true,
	//	bodyStyle: 'padding:5px;',
		items:[cityform]
	});
	var rows = grid.getSelectionModel().getSelection();
	if (type == "add") {
		window.show();
		window.setTitle('<%= t('add cityinfo') %>');
    	}  
	else if(type == "edit"){
		if(rows.length==1){
				cityform.getForm().setValues({
					id:rows[0].get("id"),
					cityname: rows[0].get("name"),
					project_id:rows[0].get("project_id"),
					ip: rows[0].get("ip"),
					rootpasswd: rows[0].get("rootpasswd"),
					minport:rows[0].get("sshport_range").split(',')[0],
					maxport:rows[0].get("sshport_range").split(',')[1],
				});
				window.show();
				window.setTitle('<%= t('edit cityinfo') %>');
		}
		else if(rows.length>1)
		{
			Ext.MessageBox.alert("<%= t('warn') %>","<%= t('you select more than one record') %>");
			hide_message();		
		}
		else {
			Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please select one record') %>");	 
			hide_message();	
		}
	}
	else
	{
		if(rows.length!=0){
			var delete_id="";
			for(var i=0; i<rows.length; i++){
				delete_id+=rows[i].get("id");
				delete_id+=',';
			};
			Ext.MessageBox.confirm('<%= t('delete') %>', '<%= t('are you sure delete select citys') %>', function(btn){
				if(btn === 'yes'){
					Ext.Ajax.request({
						url: 'delete_cityinfo',
						params: { id : delete_id },
						success: function(response){
							var obj = Ext.decode(response.responseText);
							if (obj.success) {
								recordstore.reload();
							} else {
								Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please select one record') %>");	
								hide_message();	
							}
						},
						failure: function(response) {
							Ext.MessageBox.alert("<%= t('warn') %>","<%= t('network error') %>");	
							hide_message();		 	
						}                
					});
				}
				else{
				}
			});
		}
		else
		{
		 	Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please select one record') %>");
			hide_message();	
		}
	}
}
var itemsPerPage=30
var recordstore = Ext.create('Ext.data.Store', {
    autoLoad: false,
    fields:['ip','rootpasswd','name','project_id','id','online_state','online_time','offline_time','sshport_range','backup_status','backup_time','deploy_status','deploy_time'],
    pageSize: itemsPerPage,  
    proxy: {
        type: 'ajax',
        url: 'city.json',   
        	reader: {
        		type: 'json',
        		root: 'gridData',
            	totalProperty: 'totalCount'
        	}
    	}  
	});
recordstore.load({
	params:{
    		start:0,
        	limit: itemsPerPage,
    }
});

var task = {
   run: function() {
		grid.view.loadMask.useMsg = false;
		recordstore.reload();
//		grid.view.loadMask.useMsg = true;
   },
   interval: 60000 //1 second
}

var runner = new Ext.util.TaskRunner();
//runner.start(task);
//yard_monitor_timer = setInterval(function(){recordstore.reload()},5000);
 function search(type)
{
	if(type=="search"){
        	Ext.getCmp("clear").enable();
        	recordstore.load({
         	params:{
            	start:0,
            	limit: itemsPerPage,
             	keyname : Ext.getCmp("search_text").getValue(),
                        	}
        		});
	}else if(type=="clear"){
        Ext.getCmp("clear").disable();
        Ext.getCmp("search_text").setValue('');
        recordstore.load({
        		params:{
            	start:0,
             	limit: itemsPerPage,
                        }
       		 });
        }
}
function online_fomate(val){
    if (val) {
        return "<div>"+'<%= t('online') %>'+"</div>";
    }else{
        return "<div class='color-gray'>"+'<%= t('offline') %>'+"</div>";
    }
};
function sshport_fomate(val){
	  if(val==',')
			return ''
		else
			return val.replace(/,/,'~')
};
function backup_status_fomate(val)
{
	if(val==0)
		return '<%= t('un_backup') %>'
	else if(val==1)
		return '<%= t('backuping') %>'
	else if(val==2)
		return '<%= t('backup_finished') %>'
	else 
		return '<%= t('backup_failure') %>'
}
function deploy_status_fomate(val)
{
	if(val==0)
		return '<%= t('un_deploy') %>'
	else if(val==1)
		return '<%= t('deploying') %>'
	else if(val==2)
		return '<%= t('deploy_finished') %>'
	else 
		return '<%= t('deploy_failure') %>'
}
var grid=Ext.create('Ext.grid.Panel', {
    title: '<%= t('city list') %>',
    store: recordstore,
	 viewConfig:{
		enableTextSelection:true
	},
    columns: [
        {
            xtype: 'rownumberer',
            width: 60,
            sortable: false,
            header: '<%= t('index') %>', 
            align: 'center'
      	},
	{ header: 'id',  dataIndex: 'id' , flex: 1, align: 'center', hidden: true },
	{ header: '<%= t('project_id') %>',  dataIndex: 'project_id' , flex: 1, align: 'center' },
	{ header: '<%= t('cityname') %>',  dataIndex: 'name' , flex: 1, align: 'center' },
	{ header: '<%= t('online_state') %>',  dataIndex: 'online_state' , flex: 1, align: 'center', renderer:online_fomate },
	{ header: '<%= t('online_time') %>',  dataIndex: 'online_time' , flex: 1, align: 'center' },
	{ header: '<%= t('offline_time') %>',  dataIndex: 'offline_time' , flex: 1, align: 'center' },
	{ header: '<%= t('ip') %>',  dataIndex: 'ip' , flex: 1, align: 'center' },
	{ header: '<%= t('sshport range') %>',  dataIndex: 'sshport_range' , flex: 1, align: 'center', renderer:sshport_fomate },
	{ header: '<%= t('rootpasswd') %>',  dataIndex: 'rootpasswd' , flex: 1, align: 'center' },
	{
		header:"<%= t('webplatform link') %>",
   	xtype: 'actioncolumn',
      flex: 1, 
		iconCls: 'urllink',
      align:"center",
   	items: [{
      	icon: '../images/link.png',
         tooltip: 'ip',
			getClass: function(value,meta,record,rowIx,colIx,store){
				var rec = grid.getStore().getAt(rowIx);
				weburl="http://"+rec.get('ip')+":8755";
				this.items[0].tooltip=weburl;
				return 'urllink';
			},
       	handler: function(grid, rowIndex, colIndex) { 
				var rec = grid.getStore().getAt(rowIndex);
				if(rec.get('ip')=='')
				{
					Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please fill ip first') %>");	
					hide_message();
				}
				else
				{
					weburl="http://"+rec.get('ip')+":8755";
					window.open(weburl);
				}
			}
		}]
	},
	{ 	
		header: '<%= t('backup') %>',  
		columns:[
		{
			text: '<%= t('backup') %>',
			width:75, 
			align: 'center',
			xtype: 'actioncolumn',
			iconCls: 'backup',
			items: [{
	      	icon: '../images/backup.png',
	         tooltip: '<%= t('backup') %>',
				handler: function(grid, rowIndex, colIndex) { 
					var rec = grid.getStore().getAt(rowIndex);
					if(rec.get('ip')=='')
					{
						Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please fill ip first') %>");	 
						hide_message();	
					}
					else if(rec.get('backup_status')==1)
					{
						Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please wait until finish backup') %>");	 
						hide_message();	
					}
					else
					{
						Ext.Ajax.request({
							url: 'backup.json',
							params: { id: rec.get('id')},
							success: function(){
								recordstore.reload();
								Ext.MessageBox.alert("<%= t('warn') %>","<%= t('backup serverdata success') %>");	 
								hide_message();	 
							},
							failure: function(){
								recordstore.reload();
								Ext.MessageBox.alert("<%= t('warn') %>","<%= t('backup serverdata failure') %>");	 
								hide_message();	
							}
						})
					}
				}
			}]
		},
		{
			text: '<%= t('backup_status') %>',
			dataIndex: 'backup_status',
			width:75, 
			align: 'center', 
			renderer:backup_status_fomate
		},
		{
			text: '<%= t('backup_time') %>',
			dataIndex: 'backup_time',
			width:75, 
			align: 'center',
			renderer: function(value, meta, record){
				if (value==null)
					value=''
				var max = 100;
        		meta.tdAttr = 'data-qtip="' + value + '"';
         	return value.length < max ? value : value.substring(0, max) + '...';
			}
		}] 
	},
	{ 	
		header: '<%= t('deploy') %>',  
		columns:[
		{
			text: '<%= t('deploy') %>',
			width:75, 
			align: 'center',
			xtype: 'actioncolumn',
			iconCls: 'deploy',
			items: [{
	      	icon: '../images/deploy.png',
	         tooltip: '<%= t('deploy') %>',
				handler: function(grid, rowIndex, colIndex) { 
					var rec = grid.getStore().getAt(rowIndex);
					if(rec.get('ip')=='')
					{
						Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please fill ip first') %>");	 
						hide_message();	
					}
					else if(rec.get('deploy_status')==1)
					{
						Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please wait until finish deploy') %>");	 
						hide_message();	
					}
					else if(rec.get('rootpasswd')=='')
					{
						Ext.MessageBox.alert("<%= t('warn') %>","<%= t('please fill rootpasswd first') %>");	 
						hide_message();	
					}
					else
					{
						Ext.Ajax.request({
							url: 'backup.json',
							params: { id: rec.get('id')},
							success: function(){
								recordstore.reload();
								Ext.MessageBox.alert("<%= t('warn') %>","<%= t('deploy server success') %>");	 
								hide_message();	 
							},
							failure: function(){
								recordstore.reload();
								Ext.MessageBox.alert("<%= t('warn') %>","<%= t('deploy server failure') %>");	 
								hide_message();	
							}
						})
					}
				}
			}]
		},
		{
			text: '<%= t('deploy_status') %>',
			dataIndex: 'deploy_status',
			width:75, 
			align: 'center', 
			renderer:deploy_status_fomate
		},
		{
			text: '<%= t('deploy_time') %>',
			dataIndex: 'deploy_time',
			width:75, 
			align: 'center',
			renderer: function(value, meta, record){
				if (value==null)
					value=''
				var max = 100;
        		meta.tdAttr = 'data-qtip="' + value + '"';
         	return value.length < max ? value : value.substring(0, max) + '...';
			}
		}] 
	}
	],
    width: 400,
    height: 125,
    selType: 'rowmodel',
	 multiSelect: true,
    dockedItems: [{
        xtype: 'pagingtoolbar',
        store: recordstore,    
        dock: 'bottom',
        displayInfo: true, 
        items:[
			{ text: '<%= t('add') %>',id:"add", iconCls:"add", handler:function(){action_handler("add")} },
			{ text: '<%= t('edit') %>',id:"edit", iconCls:"edit", handler:function(){action_handler("edit")} },
			{ text: '<%= t('delete') %>',id:"delete", iconCls:"delete", handler:function(){action_handler("delete")} },
    		 	{
         	xtype: 'textfield',
           	hideLabel: true,
          	width: 150,
          	id: "search_text",
         	 	},
       	{ text: '<%= t('search') %>',id:"search", iconCls:"search", handler:function(){search("search")} },
        	{ text: '<%= t('clear') %>', id:"clear", disabled:true, handler: function(){search("clear")} }
    	]    
	}],
});
var tabpanel=Ext.create('Ext.tab.Panel', {
    width: 400,
    height: 400,
    items: [grid]
});
var work_space = Ext.getCmp('center');
work_space.removeAll();
work_space.add(tabpanel);
work_space.doLayout();
})
</script>
